<div class="container">
    <h3 mat-dialog-title>Add New User Type</h3>
  
    <form [formGroup]="addNewType" class="mat-dialog-content" #formControl="ngForm">

      <div class="form">
        <mat-form-field>
          <input matInput #input  placeholder="Name" id="userTypeName" formControlName="userTypeName">
        </mat-form-field>
      </div>

      <!--Textarea for demo purposes-->
    
      <div mat-dialog-actions>
        <button mat-raised-button class="addNewCustomer" color="primary" (click)="confirmAddType()">Add</button>
        <button mat-raised-button (click)="onNoClick()" tabindex="-1" color="warn">Cancel</button>
      </div>
      
    </form>
</div>