<div class="container">
    <h3 mat-dialog-title>Add New Write Off for a Product</h3>
  
    <form [formGroup]="addWriteoff" class="mat-dialog-content" >
  
      <div class="form form-control">
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="writeOffDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <span
        *ngIf="addWriteoff.controls['writeOffDate'].errors?.['required'] && addWriteoff.controls['writeOffDate'].touched"
        style="color: red;">Please enter writeoff date</span>
  
      <!--Contains mat-hint for characters count and has maxLengt set-->
      <div class="form">
        <mat-form-field>
          <input matInput #inputstate  placeholder="Writeoff Description" id="writeOffDesc"
            formControlName="writeOffDesc" required>
        </mat-form-field>
      </div>
      <!-- Slect inventory to write off -->
      <div class="form">
        <mat-form-field appearance="fill">
          <mat-label>Product Item</mat-label>
          <mat-select formControlName="productID">
            <mat-option *ngFor="let item of productItem" [value]="item.productId">
              {{item.productName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <span
        *ngIf="addWriteoff.controls['writeOffDesc'].errors?.['required'] && addWriteoff.controls['writeOffDesc'].touched"
        style="color: red;">Please enter writeoff description</span>
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" [disabled]="!addWriteoff.valid" (click)="confirmAdd()">Add</button>
        <button mat-raised-button (click)="onNoClick()" tabindex="-1" color="warn">Cancel</button>
      </div>
      <!-- [type]="submit" -->
    </form>
  </div>
