<div class="container">
    <h3 mat-dialog-title>Update</h3>
  
    <form class="mat-dialog-content" [formGroup]="updateUser">
  
      <div class="form">
        <mat-form-field>
          <input matInput #input  placeholder="Username" id="userName" formControlName="userName">
        </mat-form-field>
      </div>
      <span *ngIf="updateUser.controls['userName'].errors?.['required'] && updateUser.controls['userName'].touched" style="color: red;">Please enter username</span>
        <div class="form">
          <mat-form-field>
            <input matInput #input  placeholder="Email Address" id="email" formControlName="email">
          </mat-form-field>
        </div>
        <span *ngIf="updateUser.controls['email'].errors?.['required'] && updateUser.controls['email'].touched" style="color: red;">Please enter a valid email address</span>
        <div>
        <mat-form-field>
          <input matInput placeholder="Phone Number" id="phoneNumber" formControlName="phoneNumber" appPhoneMask required>
        </mat-form-field>
      </div>
      <span *ngIf="updateUser.controls['phoneNumber'].errors?.['required'] && updateUser.controls['phoneNumber'].touched" style="color: red;">Please enter phone number</span>
      <div class="form">
        <mat-form-field>
          <mat-label>User Type</mat-label>
        <mat-select id="userTypeID" formControlName="userTypeID">
          <mat-option *ngFor="let type of usertypes" [value]="type.userTypeId">
            {{type.userTypeName}}
          </mat-option>
        </mat-select>
        </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" [disabled]="!updateUser.valid" (click)="confirmUpdate()">Update</button>
        <button mat-raised-button (click)="onNoClick()" tabindex="-1" color="warn">Cancel</button>
      </div>
      <!-- [type]="submit" -->
    </form>
  </div>
  