<!--Product Types Title at the top of screen-->

<mat-card class="titleUserTypesCard">
    <mat-card-title class="titleUserTypes">Product Types</mat-card-title>
  </mat-card>
  
  
  
  <mat-card class="typesContainer">
  
  
    <!--User Type Table-->
    <div class="UserTypeTable">
  
      <div class="inlineParent">
        <!-- Search Customer Input-->
        <mat-form-field (keyup) = "applyFilter($event)" class="searchType inlineChild" appearance="standard">
            <mat-label>Search</mat-label>
            <input matInput  placeholder="User Type" #input>
        </mat-form-field>
  
        <!-- Add Product Type Button-->
        <button class="addButton inlineChild" mat-button matTooltip="Add User Type" matTooltipPosition="left"
        matTooltipShowDelay="500" matTooltipHideDelay="1000" matSuffix (click)="addNewProductType()">
            <mat-icon aria-hidden="false">add</mat-icon>
        </button>
    </div>
  
  
      <table mat-table [dataSource]="dataSource" class=" tableUserType mat-elevation-z8"> <!--Not sure wat to do with the datasource-->
  
        <!-- Name Column -->
        <ng-container matColumnDef="productType">
          <th mat-header-cell *matHeaderCellDef> Type Name </th>
          <td mat-cell *matCellDef="let productType"> {{productType.productTypeName}}</td>
        </ng-container>
  
        <!-- ID Column -->
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> Type ID </th>
          <td mat-cell *matCellDef="let productType"> {{productType.productTypeId}} </td>
        </ng-container>
  
        <!-- CRUD Column --> -->
        <ng-container matColumnDef="crud">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let productType">
            <!--VIEW-->
            
            <!--EDIT-->
            <button mat-button (click)="updateProductType(productType)" class="crudButtons editIcon">
              <mat-icon aria-hidden="false">edit</mat-icon>
            </button>
            <!--DELETE-->
            <button mat-button (click)="deleteProductType(productType)" class="crudButtons deleteIcon">
              <mat-icon aria-hidden="false">delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <!--Display Colums-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      </table>
    </div>
  </mat-card>
  
