<div class="container">
    <h3 mat-dialog-title>Add New Order</h3>
  
    <form [formGroup]="addOrder" class="mat-dialog-content">
        <div class="form">
          <mat-form-field appearance="fill">
            <mat-label>Customer</mat-label>
            <mat-select formControlName="customerId">
              <mat-option  *ngFor="let customer of customers" [value]="customer.customerId" >
                {{customer.customerName + " " + customer.customerSurname}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-card class="products-card">
          <mat-card-subtitle>Add products to the order</mat-card-subtitle>
          <mat-card-title>Products</mat-card-title>
          <mat-card-content>
            <form [formGroup]="addOrderLine" class="mat-dialog-content">
            <div class="form">
              <mat-form-field appearance="fill">
                <mat-select formControlName="productId">
                  <mat-option  *ngFor="let product of products" [value]="product.productId" >
                    {{product.productName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form">
              <mat-form-field>
                <input matInput type="number" formControlName="quantity" #input  placeholder="Quantity">
              </mat-form-field>
            </div>
            </form>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-raised-button color="accent" [disabled]="!addOrderLine.valid" (click)="saveOrderLine()">Add To Cart</button>
          </mat-card-actions>
        </mat-card>

      <div class="form">
        <mat-form-field>
          <input matInput type="number" #input class="form-control" placeholder="Order Amount" id="orderAmount" formControlName="orderAmount" readonly>
        </mat-form-field>
      </div>
      <span *ngIf="addOrder.controls['orderAmount'].errors?.['required'] && addOrder.controls['orderAmount'].touched" style="color: red;">Please enter order amount</span>

  
      <!--Contains mat-hint for characters count and has maxLengt set-->
      <div class="form">
        <mat-form-field>
          <input matInput type="date" #inputstate class="form-control" placeholder="Order Date Placed" id="orderDatePlaced" formControlName="orderDatePlaced" required readonly>
        </mat-form-field>
      </div>
      <span *ngIf="addOrder.controls['orderDatePlaced'].errors?.['required'] && addOrder.controls['orderDatePlaced'].touched" style="color: red;">Please enter order date placed</span>
  
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" [disabled]="!addOrder.valid" (click)="confirmAdd()">Add</button>
        <button mat-raised-button (click)="onNoClick()" tabindex="-1" color="warn">Cancel</button>
      </div>
      <!-- [type]="submit" -->
    </form>
  </div>
  