
.search {
  width: 20%;
  margin-left: 3%;
  margin-right: auto;
}


.titleCard {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: #009d9a;
}

.titleSub {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  background-color: #009d9a;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: #d3edea;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 10px;
  background-color: #009d9a;

}

.tableContainer {
  overflow: auto;
}

.mat-column-select {
  overflow: initial;
}

.addButton {
  float: right;
  margin-top: 1.2%;
  margin-bottom: 1%;
}

#productType {
  width: 20%;
  margin-left: 75%;
  color: #09333f;
}