<div class="container">
  <h3 mat-dialog-title>Add New Customer</h3>

  <form class="mat-dialog-content" autocomplete="off" [formGroup]="addCustomerFormControl">

    <!-- Add New Customer TITLE  #addCustomerFormControl="ngForm" -->
    <div class="form">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <mat-select formControlName="Title_ID" required>
          <mat-option *ngFor="let title of titles" [value]="title.titleId">
            {{title.titleDescr}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addCustomerFormControl.controls['Title_ID'].invalid">{{getErrorMessageTitle()}}</mat-error>
      </mat-form-field>
    </div>

    <!-- Add New Customer NAME -->
    <div class="form">
      <mat-form-field>
        <input matInput   placeholder="Name" name="Customer_Name"
          formControlName="Customer_Name" maxlength = "36" required>
          <mat-error *ngIf="addCustomerFormControl.controls['Customer_Name'].invalid">{{getErrorMessageName()}}</mat-error>
      </mat-form-field>
    </div>

    <!-- Add New Customer SURNAME -->
    <div class="form">
      <mat-form-field>
        <input matInput   placeholder="Surname" name="Customer_Surname"
          formControlName="Customer_Surname" maxlength = "36" required>
          <mat-error *ngIf="addCustomerFormControl.controls['Customer_Surname'].invalid">{{getErrorMessageSurname()}}</mat-error>
      </mat-form-field>
    </div>

    <!-- Add New Customer ADDRESS -->
    <div class="form">
      <mat-form-field>
        <input matInput autocomplete="off" type="text" placeholder="Address" (keydown.enter)="$event.preventDefault()" name="Address_ID" formControlName="Address_ID"
        #search required>
        <mat-error *ngIf="addCustomerFormControl.controls['Address_ID'].invalid">{{getErrorMessageAddress()}}</mat-error>
      </mat-form-field>
    </div>

    <!-- Add New Customer COMPETENCY -->
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Competency"  name="CustomerCompetencyType"
          formControlName="CustomerCompetencyType"  required>
          <mat-error *ngIf="addCustomerFormControl.controls['CustomerCompetencyType'].invalid">{{getErrorMessageComp()}}</mat-error>
      </mat-form-field>
    </div>

    <!-- Add New Customer PHONE NUMBER -->
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Phone Number" name="customer_PhoneNo"  formControlName="Customer_PhoneNo" maxlength = "14" appPhoneMask required>
        <mat-error *ngIf="addCustomerFormControl.controls['Customer_PhoneNo'].invalid">{{getErrorMessagePhoneNo()}}</mat-error>
      </mat-form-field>
    </div>

    <!-- Add New Customer ID NUMBER -->
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="ID Number" name="customer_IDNumber" formControlName="Customer_IDNumber" maxlength = "13" required>
        <mat-error *ngIf="addCustomerFormControl.controls['Customer_IDNumber'].invalid">{{getErrorMessageID()}}</mat-error>
      </mat-form-field>
    </div>

    <!-- Add New Customer Email -->
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Email" name="customer_Email" formControlName="Customer_Email" maxlength = "40" required>
        <mat-error *ngIf="addCustomerFormControl.controls['Customer_Email'].invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>
    </div>
  </form>

  <mat-dialog-actions>
    <button mat-raised-button class="addNewCustomer" [disabled]="!addCustomerFormControl.valid" [mat-dialog-close]="1"
      (click)="confirmAddCustomer()">Add</button>
    <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
  </mat-dialog-actions>
</div>