<!--User Types Title at the top of screen-->

<mat-card class="titleUserTypesCard">
  <mat-card-title class="titleUserTypes">User Types</mat-card-title>
</mat-card>



<mat-card class="typesContainer">


  <!--User Type Table-->
  <div class="UserTypeTable">

    <div class="inlineParent">
      <!-- Search Customer Input-->
      <mat-form-field (keyup) = "applyFilter($event)" class="searchType inlineChild" appearance="standard">
          <mat-label>Search</mat-label>
          <input matInput  placeholder="User Type" #input>
      </mat-form-field>

      <!-- Add Customer Button-->
      <button class="addButton inlineChild" mat-button matTooltip="Add User Type" matTooltipPosition="left"
      matTooltipShowDelay="500" matTooltipHideDelay="1000" matSuffix (click)="addNewType()">
          <mat-icon aria-hidden="false">add</mat-icon>
      </button>
  </div>

    <!--Add User Type Button-->

    <!-- <div>
      <button class="addButton" mat-button matTooltip="Add User Type" matTooltipPosition="left"
        matTooltipShowDelay="500" matTooltipHideDelay="1000" matSuffix (click)="addNewType()">
        <mat-icon aria-hidden="false">add</mat-icon>
      </button>
    </div> -->

    <table mat-table [dataSource]="dataSource" class=" tableUserType mat-elevation-z8"> <!--Not sure wat to do with the datasource-->



      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Type Name </th>
        <td mat-cell *matCellDef="let usertype"> {{usertype.userTypeName}}</td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> Type ID </th>
        <td mat-cell *matCellDef="let usertype"> {{usertype.userTypeId}} </td>
      </ng-container>
      
      <!--CRUD Column-->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let usertype">
  
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="updateUserType(usertype)">
                    <mat-icon>edit</mat-icon>
                    <span>Update Usertype</span>
                </button>
                <button mat-menu-item (click)="deleteUserType(usertype)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete Usertype</span>
                </button>
            </mat-menu>
  
        </td>
    </ng-container>

      <!--Display Colums-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</mat-card>
