<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header *ngIf="!this.authService.otpToValidate">
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <mat-card-header *ngIf="this.authService.otpToValidate && !this.authService.confirmedOTP">
      <mat-card-title>Validate OTP</mat-card-title>
    </mat-card-header>
    <mat-card-header *ngIf="this.authService.confirmedOTP">
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <form [formGroup]="resetPasswordForm" class="example-form">
      <mat-card-content>

        <mat-form-field *ngIf="!this.authService.otpToValidate" class="example-full-width">
          <input matInput id="email" placeholder="Email address" formControlName="email" class="form-control">
        </mat-form-field>

        <mat-form-field *ngIf="this.authService.otpToValidate && !this.authService.confirmedOTP" class="example-full-width">
          <input matInput id="otp" placeholder="One Time Pin" formControlName="otp" class="form-control" type="text" maxLength=6>
        </mat-form-field>

        <mat-form-field *ngIf="this.authService.confirmedOTP" class="example-full-width">
          <input  matInput id="newPassword" placeholder="New Password" formControlName="newPassword" class="form-control">
          <div
              *ngIf="
                this.resetPasswordForm.controls['newPassword'].invalid &&
                (this.resetPasswordForm.controls['newPassword'].dirty || this.resetPasswordForm.controls['newPassword'].touched)
              "
              class="form-text text-danger"
            >
              <div *ngIf="this.resetPasswordForm.controls['newPassword'].errors?.['required']">
                Field is required
              </div>
              <div *ngIf="this.resetPasswordForm.controls['newPassword'].errors?.['pattern']">
                Password must contain at least one number, one uppercase and a
                lowercase letter and at least 8 characters<br />Password cannot
                contain whitespace
              </div>
            </div>
        </mat-form-field>

        <mat-form-field *ngIf="this.authService.confirmedOTP" class="example-full-width">
          <input  matInput id="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword" class="form-control">
          <div
              *ngIf="this.resetPasswordForm.controls['confirmPassword'].invalid &&
                (this.resetPasswordForm.controls['confirmPassword'].dirty || this.resetPasswordForm.controls['confirmPassword'].touched)
              "
              class="form-text text-danger"
            >
              <div *ngIf="this.resetPasswordForm.controls['confirmPassword'].errors?.['required']">
                Field is required
              </div>
              <div *ngIf="this.resetPasswordForm.controls['confirmPassword'].errors?.['pattern']">
                Password must contain at least one number, one uppercase and a
                lowercase letter and at least 8 characters<br />Password cannot
                contain whitespace
              </div>
            </div>
        </mat-form-field>

      </mat-card-content>
      <button  *ngIf="!this.authService.otpToValidate" mat-stroked-button color="accent" class="btn-block" type="submit"
      (click)="resetPassword()">Send One Time Pin</button>

      <button *ngIf="this.authService.otpToValidate && !this.authService.confirmedOTP" mat-stroked-button color="accent" class="btn-block" type="submit"
      (click)="this.authService.validateOTP(resetPasswordForm.controls['otp'].value)">Enter OTP</button>

      <button *ngIf="this.authService.confirmedOTP" mat-stroked-button (click)="ChangePassword()" color="accent" class="btn-block" type="submit">Reset Password</button>
      <div>
        
        <!-- <button mat-button text-center color="primary" [matMenuTriggerFor]="menu">Use Other Method</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Recovery Email</button>
            <button mat-menu-item>Phone Number</button>
          </mat-menu> -->
        </div>
      </form>
      <div *ngIf="this.authService.otpPending">
        <mat-progress-bar mode="query"></mat-progress-bar>
      </div>
    </mat-card>
</div>